<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Koha test run</title>
</head>
<body>

<table>
<tr>
<th>Commit</th>
[% FOREACH key IN tests.0.keys.sort %]
    [% IF key != 'sha' %]
        <th>[% key %]</th>
    [% END %]
[% END %]
</tr>
[% FOREACH t IN tests %]
    <tr>
    <td>[% t.sha %]</td>
    [% FOREACH key IN t.keys.sort %]
        [% IF key != 'sha' %]
            <td>[% t.$key %]</td>
        [% END %]
    [% END %]
    </tr>
[% END %]
</table>

<hr>

<p>Configuration:</p>
<ul>
[% FOREACH key IN config.keys %]
    <li>[% key %]: [% config.$key %]</li>
[% END %]
</ul>

[% USE date %]
<p>Generated [% date.format %]</p>

</body>
</html>
